.whole-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 0;
}

.navbar {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
}

.left .logo img {
    height: 47px;
    width: 47px;
}

.left .logo {
    text-decoration: none;
}

.right {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 10px;
    align-items: center;
    margin-bottom: 10px;
}

.right ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.right .profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.right .notification-bell {
    font-size: 40px;
    text-decoration: none;
    color: #4a4b49;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.right ul li {
    list-style: none;
    margin: 0 10px;
}

.line {
    width: 100%;
    border-bottom: 1px solid black;
}

.top-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.welcoming {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 0;
    background-color: white;
    border: 1px solid black;
    margin-left: 30px;
    width: 30%;
    margin-right: 20px;
}

.welcomeText {
    font-size: 24px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 800;
    margin-bottom: 10px;
}

.modules-text {
    font-size: 14px;
    font-family: 'Inter', 'sans-serif';
    margin-bottom: 6px;
    color: #4B4B4B;
}

.progress-container {
    width: 90%;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    height: 20px;
    width: 70%;
    background-color: #B5F042;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
    transition: width 0.5s ease;
}

.two-sides{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.mission{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
}

.mission-header{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: 'Inter', 'sans-serif';
}

.video-mission{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}   

.stats{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    margin-left: 20px;
}

.stats-header{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: 'Inter', 'sans-serif';
}

.points-streak{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 80%;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
}

.points-streak .line{
    transform: rotateX('90deg');
}

.pointsCol h6{
    margin: 0;
    font-size: 12px;
    font-family: 'Inter', 'sans-serif';
    color: #4B4B4B;
}

.pointsCol p{
    margin: 0;
    font-size: 10px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
}

.streakCol h6{
    margin: 0;
    font-size: 12px;
    font-family: 'Inter', 'sans-serif';
    color: #4B4B4B;
}

.streakCol p{
    margin: 0;
    font-size: 10px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
}

.recom-lessons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
    width: 40%;
    padding-top: 20px;
    justify-content: space-between;
}

.recom-lessons h2{
    font-size: 24px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 800;
    margin-bottom: 10px;
}

.lessons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    height: 30px;
    border-radius: 20px;
    padding: 20px;
    font-size: 12px;
    width: 90%;
}

.lessons h6{
    margin-right: 10px;
    font-size: 13px;
    letter-spacing: 1px;
}

.notification-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
}

.notification-contents h2{
    margin-bottom: 20px;
}

.not-content{
    padding: 10px;
    background-color: #F2F5F0;
    border: 1px solid #8E8E8E;
    border-radius: 10px;
    margin: 5px;
    width: 90%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btm-two{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leaderboard-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 30px;
}

.leaderboard-preview h2{
    margin-bottom: 20px;
}


.leads{
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F2F5F0;
    border-radius: 10px;
    border: 1px solid #8E8E8E;
    margin-bottom: 15px;
}

.leeds p{
    color: #4E4E4E;
}

.empty-btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.full-leads-btn button{
    background-color: #B5F042;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.events-tips{
    border: 1px solid black;
    border-radius: 20px;
    width: 45%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.events{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 45%;
}

.quiz-thing{
    background-color: #D9D9D9;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quiz-thing p{
    background-color: #B5F042;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.tip-line{
    height: 150px;
    width: 1px;
    background-color: black;
}

.again-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finance-tip{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finance-tip p{
    color: #4E4E4E;
}

.badges{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.more-badges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.badgeArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-badges{
    height: 60px;
    width: 60px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-bottom: 5px;
}

.badgeArea p{
    color: #4E4E4E;
    font-size: 12px;
}